<app-navbar></app-navbar>
<div class=" bg-image">
<div class="text-center">
  <button type="button" class="btn btn-primary btn-xl" (click)="castVotes()"><i class="bi bi-cast"></i>Cast Vote</button>
</div>
<br>
<br>
<div class="text-center">
  <button (click)="openPopup()" type="button" class="btn btn-info btn-xl"><i class="bi bi-envelope-paper"></i>Delegate</button>
</div>
<br>
<br>
<div class="text-center">
  <button type="button" class="btn btn-dark btn-xl " (click)="queryVotes()"><i class="bi bi-dice-6-fill"></i>Query Vote Result</button>
</div>
<br>
<br>
<div class="text-center">
  <button type="button" class="btn btn-warning btn-xl"(click)="request()"><i class="bi bi-currency-exchange"></i>
    Mint Vote Tokens</button>
</div>
<br>
<br>
<div class="text-center">
  <button  type="button" class="btn btn-success btn-xl"><i class="bi bi-display"></i>Recent Votes</button>
</div>
</div>

<form [formGroup]="claimForm">
  <input type="text" placeholder="your name" name="name">
  <input type="id" placeholder="your id" name="id">
</form>

<div>
  <p>Connected to the token at address: {{tokenContractAddress}}</p>
  <p>Total supply of the token is : {{tokenTotalSupply}} ETH</p>
  <p>This is wallet: {{walletAddress}}</p>
  <p>This is balance: {{etherBalance}}</p>
</div>


<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delegate to Voter </h4>
      </div>
      <div class="modal-body">
        <form class="">
          <div class="form-floating mb-3">
            <input class="form-control rounded-3" id="floatingInput" placeholder="Enter the voter address to">
            <label for="floatingInput">Voter address</label>
          </div>

          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" (click)="delegate(this)">Send</button>
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"
                    (click)="closePopup()">
              Close
            </button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
