<app-navbar></app-navbar>
<div class=" bg-image">
<div class="text-center">
  <button type="button" class="btn btn-primary btn-xl" (click)="formPopup('vote-form')"><i class="bi bi-cast"></i>Cast Vote</button>
</div>
<div class="text-center fill-form bg-dark" id="vote-form">
  <form [formGroup]="voteForm">
    <input type="text" placeholder="proposal index" name="proposal">
    <input type="number" placeholder="amount" name="amount">
  </form>
  <button class="btn btn-primary my-2" (click)="castVotes()">Vote</button>
</div>
<br>
<br>
<div class="text-center">
  <button (click)="formPopup('delegate-form')" type="button" class="btn btn-info btn-xl"><i class="bi bi-envelope-paper"></i>Delegate</button>
</div>
<div class="text-center fill-form bg-dark" id="delegate-form">
  <form [formGroup]="delegateForm">
    <input type="text" placeholder="address" name="address">
  </form>
  <button class="btn btn-primary my-2" (click)="delegate()">Delegate</button>
</div>
<br>
<br>
<div class="text-center">
  <button type="button" class="btn btn-dark btn-xl " (click)="queryVotes()"><i class="bi bi-dice-6-fill"></i>Query Vote Result</button>
</div>
<br>
<br>
<div class="text-center">
  <button type="button" class="btn btn-warning btn-xl"(click)="formPopup('mint-form')"><i class="bi bi-currency-exchange"></i>
    Mint Vote Tokens</button>
</div>
<div class="text-center fill-form bg-dark" id="mint-form">
  <form [formGroup]="mintForm">
    <input type="text" placeholder="address" name="address">
    <input type="number" placeholder="amount" name="amount">
  </form>
  <button class="btn btn-primary my-2" (click)="mint()">Mint tokens</button>
</div>

<div class="text-center mt-3 bg-light pb-3">
  <h1> API Result</h1>
  <p>Function response: {{apiResponse}}</p>
</div>