.bg-image {
  background-image: url("src/assets/img/bg1-bc.jpeg")  ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.btn-xl {
  padding: 10px 20px;
  font-size: 70px;
  border-radius: 10px;
  width:60%;
}

.fill-form{
  width:50%; 
  margin: 0 auto;
  padding-top: .5em;
}

#mint-form{
  display: none;
}

#delegate-form{
  display:none;
}

#vote-form{
  display:none;
}

h1 {
  background-color: blanchedalmond;
}
